@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;400;500;600;700;800&display=swap');

* {
    font-family: 'League Spartan', sans-serif;
}
form {
 text-align: center;  
 margin-top: 50px;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    border: none;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.09);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    height: 50px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    display: inline-block;
    position: relative;
    list-style: none;
    padding-top: 20px;
    padding-right: 90px;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: rgb(58, 166, 58);
}

#navbar li a:hover,
#navbar li a.active {
    color: rgb(69, 107, 12);
    transition: 300ms ease;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 20%;
    height: 1px;
    background: greenyellow;
    position: absolute;
    bottom: -3px;
    left: 0px;
}
h1 {
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
}
main p {
    margin: 40px;
    font-weight: 350;
    font-size: 22px;
    padding: 5px;
    padding-top: 55px;
    line-height: 45px;
}
input {
    border-radius: 7px;
}

label {
    padding-bottom: 1px;
    padding-top: 1px;
}
button {
    font-size: 20px;
    margin-top: 20px;
    padding: 5px 30px;
    border: none;
    border-radius: 50px;
    background: black;
    color: rgb(171, 171, 171);
}
footer {
    display: flex;
}

footer div {
    flex: 1;
}

.copyright {
    text-align: end;
    margin-right: 80px;
    color: rgb(112, 112, 112);
}

hr {
    width: 90%;
}

footer img {
    object-fit: contain;
    width: 150px;
    height: 150px;
    margin-top: 25px;
    padding-bottom: 20px;
}
.size {
    border: 0.5px solid black;
    padding: 10px;
    margin: auto 30px;
}
.location {
    border: 0.5px solid black;
    padding: 10px;
    margin: auto 30px;
}
.table-booking {
    text-align: center;
}